@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  --font-family: "Onest", sans-serif;
  --grey-color: #3e3c4c;
  --green-color: #209d38;
  --light-grey: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
}

/* NAV */

.navigation {
  margin: 30px 0;
  display: flex;
  gap: 5px;
}

.navigation,
.navigation a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(62, 60, 76, 0.5);
}

/* H1 */

h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--grey-color);
}

.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.red-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #bb2d3b;
  border: none;
  background: none;
}

/* MAIN CONTAINER */
.main-container {
  margin: 30px 0;
  display: grid;
  grid-template-columns: 660px 320px;
  gap: 20px;
}

.summ {
  box-shadow: 0 0 124px 0 #efefef;
  background: #fff;
  padding: 60px 30px;
  border-radius: 10px;
  height: max-content;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item-line {
  width: 100%;
  margin-top: 15px;
}

.info-item img {
  border-radius: 10px;
  width: 65px;
  height: 65px;
}

.info-item {
  display: flex;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: var(--grey-color);
}

.trash {
  border: 1px solid var(--grey-color);
  border-radius: 10px;
  padding: 10px;
  width: 33px;
  height: 34px;
  background: none;
}

.cart-btn-container {
  width: 148px;
  height: 34px;
}

.controls {
  display: flex;
  gap: 54px;
}

.result-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(62, 60, 76, 0.8);
}

.result-line {
  width: 100%;
  margin-top: 15px;
}

.result {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  color: var(--grey-color);
}

.res {
  margin: 30px 0;
}

.summ button {
  border-radius: 5px;
  padding: 10px 50px;
  width: 260px;
  height: 34px;
}
