@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  --font-family: "Onest", sans-serif;
  --grey-color: #3e3c4c;
  --green-color: #209d38;
  --light-grey: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
}

/* HEADER */

header {
  width: 1000px;
  margin: 30px auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 100px;
  height: 40px;
}

header a {
  text-decoration: none;
}

.a-logo {
  text-decoration: none;
  height: 40px;
}

/* КТАЛОГ */

.btn-catalog {
  border-radius: 10px;
  padding: 10px 27px;
  width: 133px;
  height: 40px;
  background: var(--green-color);
  border: none;
}

.catalog {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.btn-catalog:hover {
  cursor: pointer;
  background: #1abe39;
}

/* ПОИСК */

.search-container {
  border-radius: 10px;
  width: 490px;
  height: 40px;
  background: var(--grey-color);
  padding: 4px 0 4px 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-search {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background: var(--grey-color);
  border: none;
  margin: 0 auto;
}

.btn-search:hover {
  cursor: pointer;
}

.search-input {
  border-radius: 5px;
  width: 400px;
  height: 100%;
  background: #fff;
  border: none;
  padding-left: 16px;
}

.search-input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-color);
}

/* ЗАКАЗЫ И КОРЗИНА */

.header-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-item p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--grey-color);
}

#profile {
  border-radius: 40px;
  padding: 10px;
  width: 30px;
  height: 30px;
  background: var(--light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

#profile,
.header-item:hover {
  cursor: pointer;
}
