@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  --font-family: "Onest", sans-serif;
  --grey-color: #3e3c4c;
  --green-color: #209d38;
  --light-grey: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
  margin: 60px auto;
}

.info-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  margin-bottom: 30px;
}

.info-container .product-img {
  border-radius: 10px;
  width: 490px;
  height: 490px;
}

h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  color: var(--grey-color);
}

.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.farmer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(62, 60, 76, 0.7);
  margin: 15px 0 30px;
}

.farm,
.farm:active {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #209d38;
}

.price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #3e3c4c;
}

.price-unit {
  font-weight: 400;
  font-size: 14px;
}

.btn-cont {
  margin: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.hr-product {
  width: 100%;
}

.days p {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #209d38;
}

.days {
  display: flex;
  justify-content: space-between;
}

.term {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-transform: lowercase;
  color: #3e3c4c;
}

.btn-cont button {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 151px;
  height: 34px;
  background: #209d38;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.text span,
.text-bfc {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #3e3c4c;
}

.text p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #3e3c4c;
}

.text a {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #209d38;
  display: inline-block;
  margin-top: 15px;
}

.bfc {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

.number {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  color: #209d38;
}

.name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: rgba(62, 60, 76, 0.4);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.grade {
  margin-top: 15px;
  font-family: var(--font-family);
  font-weight: 700;
  color: #3e3c4c;
  font-size: 20px;
  line-height: 100%;
  color: var(--grey-color);
}

.feedbacks {
  margin: 30px 0;
}

.feedback {
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background: #f4f4f4;
}

.feedback .head {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 120%;
  color: #3e3c4c;
}

.date {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(62, 60, 76, 0.5);
}

.comment {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #3e3c4c;
}

.stars img {
  display: inline-block;
}

.write {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(62, 60, 76, 0.6);
  display: flex;
  align-items: center;
  gap: 5px;
}

.btn-cont a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #209d38;
}

.btn-cont .red {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(187, 45, 59, 0.5);
}

.mb {
  margin-bottom: 15px;
}
